[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
apiclient = "*"
argparse = "*"
configparser = "*"
datetime = "*"
google = "*"
google_auth_oauthlib = "*"
google-api-python-client = "*"
httplib2 = "*"
oauth2client = "*"
pathlib = "*"
pickle5  = "*"
pyinstaller = "*"
requests = "*"
tzlocal = "*"
